{
  "platform_version": "2.0",
  "platform_branch_name": "develop",

  "tfs_username": "firstname.lastname@company.com",
  "tfs_token": "YOUR_TFS_PERSONAL_ACCESS_TOKEN",
  "tfs_dep_components_url": "https://tfs.company.com/tfs/DefaultCollection/DEP_Components",
  "manifests_remotes_path": "/remotes/manifests",

  "artifactory_components_conan2_url": "https://artifactory.company.com/artifactory/conan2-local",

  "profiles_urls": [
    "https://tfs.company.com/tfs/DefaultCollection/DEP_Components/_git/build_profiles?path=/profiles/linux.yaml&version=GBdevelop"
  ],

  "excluded_components": [],

  "_comment_artifactory_credentials": "Можно задать здесь или через env GET_USR / GET_PWD",
  "artifactory_username": "",
  "artifactory_password": "",

  "tfs_request_timeout": 15,
  "conan_command_timeout": 300,
  "max_retries": 3,
  "retry_backoff_factor": 2.0
}
